<h1>Editing what_function</h1>

<% form_for(@what_function) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :programming_language_id %><br />
    <%= select (:what_function, :programming_language_id, @programming_languages.map {|u| [u.name,u.id]}) %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @what_function %> |
<%= link_to 'Back', what_functions_path %>
