<h2>Function: <%=h @what_function.name %> (<%= @what_function.programming_language.name %>)</h2>
<% unless @what_function.description.blank? %>
  <p>
    <b>Description:</b>
    <%=h @what_function.description %>
  </p>
<% end %>
<h3>Twins</h3>
<% unless twin_list.blank? %>
  <p><%= twin_list %></p>
<% else %>
  <p><em>No twins found, why don't you add one</em></p>
<% end %>


<%= link_to "Edit #{@what_function.name}", edit_programming_language_what_function_path(@programming_language, @what_function) %> |
<%= link_to "Back to All #{@programming_language.name} Functions", programming_language_what_functions_path(@programming_language) %>
